@{
    ViewData["Title"] = "Conceito";
}
@model ConceitoViewModel

<div class="row">
    <div class="col">
        <h2>O conceito:</h2>
        <p>A música está sempre conosco. Seja qual for a situação, a solução passa sempre por ouvir um bom som. Ou, claro, fazer um bom som.</p>
        <p>Utilize esta aplicação para guardar as bandas que já ouviu!</p>
        <p>Total bandas Pop: @Model.TotalBandasPop</p>
        <p>Total bandas: @Model.TotalBandas</p>
    </div>
    <div class="col">
        <img src="~/images/dl.jpg" alt="Dua Lipa" />
    </div>
</div>